.companies-container {
  margin: 100px auto 0;
}

.addCompanyForm {
    background: #1c1c1e;
    padding: 1rem;
    border-radius: 12px;
    color: #fff;
  }
  
  .addCompanyForm input,
  .addCompanyForm select {
    background: #2c2c2e;
    color: white;
    border: 1px solid #444;
    margin-right: 8px;
    padding: 8px;
  }