.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
  color: white;
}

.navbar .logo {
  flex-shrink: 0;
}

.logo img {
  height: 100px;
  width: auto;
  display: block;
}

.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1;
  justify-content: center;
}

.navbar a {
  color: #daffed;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: #c200fb;
  text-shadow: 0 0 8px #EC0968, 0 0 16px #EC0968, 0 0 24px #EC0968;
}